body {
    font-family: Arial, sans-serif;
    background-image: url('background.webp'); /* Utilizando la imagen proporcionada */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 600px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.hidden {
    display: none;
}

h1, h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
